{% extends 'layout.twig' %}

{% block body %}
<div class="container">
    <h3 class="h3">Toutes Les Produits </h3>
    <div class="row">
        {% for item in data %}
        <div class="col-md-3 col-sm-6 mb-4">
            <div class="product-grid">
                <div class="product-image">
                    <a href="#">
                        <img class="pic-1" src={{item.images[0]}}>
                        <img class="pic-2" src={{item.images[1]}}>
                    </a>
                    <ul class="social">
                        <li><a href="" data-toggle="modal" data-target="#form-{{item._id}}" data-tip="Modifier"><i
                                    class="fa fa-edit"></i></a></li>
                        <li>
                            <form id="delForm" method="post" action="/products/{{item._id}}?_method=DELETE">
                                <a href="javascript:$('#delForm').submit();" data-tip="Supprimer"><i
                                        class="fa fa-trash"></i></a>
                            </form>
                        </li>
                    </ul>
                    <span class="product-new-label">ref:{{item.ref}} </span>
                    <span class="product-discount-label">20%</span>
                </div>
                <ul class="rating">
                    <li class="fa fa-star"></li>
                    <li class="fa fa-star"></li>
                    <li class="fa fa-star"></li>
                    <li class="fa fa-star"></li>
                    <li class="fa fa-star disable"></li>
                </ul>
                <div class="product-content">
                    <h3 class="title"><a href="#">{{item.wording}}</a></h3>
                    <div class="price">${{item.price}}
                    </div>
                    <i class="add-to-cart" href="">{{item.type}}</i>
                </div>
            </div>
        </div>

        {# $$$$$$$$$$$$ EDIT MODAL $$$$$$$$$$$$$$ #}
        <div class="modal fade" id="form-{{item._id}}" tabindex="-1" role="dialog" aria-labelledby="editModal"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Modifier produit: {{item.wording}}</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form method="post" action="/products/{{item._id}}?_method=PUT">
                            <div class="form-group">
                                <label for="ref" class="col-form-label">Reference:</label>
                                <input type="text" class="form-control" name="ref" id="ref" value={{item.ref}}>
                            </div>
                            <div class="form-group">
                                <label for="wording" class="col-form-label">Libellé:</label>
                                <input type="text" class="form-control" name="wording" id="wording"
                                    value={{item.wording}}>
                            </div>
                            <div class="form-group">
                                <label for="price" class="col-form-label">Prix:</label>
                                <input type="number" step="00.01" class="form-control" name="price" id="price"
                                    value={{item.price}}>
                            </div>
                            <div class="form-group">
                                <label for="type" class="col-form-label">Type:</label>
                                <input type="text" class="form-control" name="type" id="type" value={{item.type}}>
                            </div>
                            <div class="form-group d-flex justify-content-end">
                                <button type="submit" class="btn btn-primary">Enregistrer</button>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}